html {
  height: 100%;
}
body {
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
  background: url('../img/background.png');
}

#gradient-body {
  background: linear-gradient(to right, #34486B, #319ace);
  height: 100% !important;
  background-repeat: no-repeat !important;
}

h1 {
  font-weight: 600;
  margin-bottom: 25px;
}
input[type="color"] {
  margin: 0.45rem;
}

#shop-ol {
  margin-top: 20px;
  text-align: left;
  cursor: pointer;
}

#direction, option {
  width: 20%;
  margin-bottom: 0.75rem;
  color: #333333;
  background-color: #C5C5C5C5;
  border: 0;
}

.light-box {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.pro-list {
  list-style: none;
}

.pro-list li {
  float: left;
  padding-left: 1rem;
}

.done {
  text-decoration: line-through;
}
